.navcontent ul li{
    text-align: center;
    display: flex;
    align-items: center;
    padding: 7.6px 8px;
    position: relative;
    transition: all 0.3s ease-in-out;
    height: 100%;

}

.bg-141B2B{
    background-color: #0D0D0D;
}
  

.navcontent ul li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 1px;
    background: linear-gradient(90deg,   #ffffff, #ffffff, #ffffff, #ffffff);
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

.navcontent ul li:hover::after{
    width: 100%;
    left: 0;
}

.navbar{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.btn{
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    border-radius: 0.6rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}


.join-btn{
    background-color: #000000;
    transform: scale(1);
}
.join-btn:active{
    transform: scale(1);
}

.join-btn:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 10px #f0f0f04d;;
}


.start-btn{
    color: #000000;
    background-color: #eeeeee;
}
.start-btn:hover{
    transform: scale(1.06);
    box-shadow: 0 4px 10px #ffffff4d;
}
