@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
  /* #09090b  color for big components*/
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* Remove scrollbars completely */
/* Custom scrollbar for a subtle black appearance */
* {
  scrollbar-width: thin; /* Firefox: thin scrollbar */
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent; /* Firefox: black with slight transparency */
}

::-webkit-scrollbar {
  width: 8px; /* Adjust width for the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4); /* Subtle black thumb with transparency */
  border-radius: 10px; /* Rounded scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6); /* Slightly darker thumb on hover */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent background for the track */
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.glow{
  transition: all 0.3s ease-in-out;
}

.glow:hover{
  /* transform: scale(1.1); */
  background-color: #f0f0f0;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3); /* Soft glow */
}

.bg-0D0D0D{
  background-color: #0d0d0d;
}

.bg-09090b{
  background-color: #09090b;
}

.border-gray{
  border: 1px solid #27272a;
}

.text-8a8a93{
  color: #8a8a93;
}

.inputField{
  padding: 0.5rem;
  border: 1px solid #27272a;
  border-radius: 0.5rem;
  background-color: inherit;
  color: #a1a1aa;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-white{
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fafafa;
  color: #18181b;
  transition: all 0.3s ease-in-out;
}

.btn-white:disabled{
  background-color: #cccccc ;
  cursor:not-allowed;
}
.btn-white:disabled:hover{
  background-color: #cccccc ;
}
.btn-white:hover{
  background-color: #e6e6e6 ;
}






.btn-black{
  padding: 0.5rem;
  border: 1px solid #27272a;
  background-color: #000000;
  color: #8a8a93;
  transition: all 0.3s ease-in-out;
}


.btn-black:hover{
  background:linear-gradient(135deg, #000000, #1c1c1c);
  color: #cccccc;
}


.topbar{
  transition: all 0.3s ease-in-out;
}